Source: ros-indigo-rfsm
Section: misc
Priority: extra
Maintainer: Orocos Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://people.mech.kuleuven.be/~mklotzbucher/rfsm/README.html
Standards-Version: 3.9.2

Package: ros-indigo-rfsm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This package contains the rFSM flavor of Statecharts.
